/*
  ///////////////////////////////////////
  ////////////// Buttons
  //////////////////////////////////////
  */

/* Buttons */
.theme-light .button_b9fe76.buttonSize_b9fe76,
.theme-light .lookFilled_dd4f85.colorPrimary_dd4f85,
.theme-light .popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga,
.theme-light .full-motion .button__292b6,
.theme-light .lookFilled_dd4f85.colorBrand_dd4f85,
.theme-light .navButtonActive_af5dbb,
.theme-light .lookFilled_dd4f85.colorGreen_dd4f85 {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accent);
    color: var(--accent);
    text-align: center;
    transition: 0.9s;
}

.lookFilled_dd4f85.colorRed_dd4f85,
.lookOutlined_dd4f85.colorRed_dd4f85 {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: red;
    color: red;
    text-align: center;
    transition: 0.9s;
}

.lookFilled_f6639d.select_f6639d {
    background-color: var(--PGTextBackground);
    border-radius: 1px;
}

.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c,
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c:hover {
    border: solid 2px var(--accent);
    border-radius: 15px;
    background-color: var(--accent-hover);
}

.theme-dark .tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c,
.theme-dark .tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c:hover {
    border: solid 2px var(--accentD);
    border-radius: 15px;
    background-color: var(--accent-hoverD);
}

.button_b9fe76.buttonSize_b9fe76:hover,
.actionButton_e01b91:hover,
.lookFilled_dd4f85.colorPrimary_dd4f85:hover,
.popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga:hover {
    background-color: var(--accent-hover);
    border-radius: 10px;
    transition: 0.3s;
}

.clickable_e44302 .icon_e44302,
.linkButtonIcon_c91bad {
    color: var(--accent) !important;
}

.clickable_e44302 .icon_e44302:hover,
.linkButtonIcon_c91bad:hover {
    margin-top: 2px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 5px;
}

.iconWrapper_e44302 .icon_e44302,
.stickerIcon__3ceda,
.icon_cecf00,
.circleIcon_db6521,
.buttonWrapper_cecf00 {
    color: var(--accent);
}

.wrapper_ef319f {
    box-shadow: inset 1px 1px 3px 1px rgba(128, 128, 128, 0.336);
    transition: 0.3s;
}

.theme-light .linkButtonIcon_c91bad {
    color: var(--accent);
}

.theme-dark .linkButtonIcon_c91bad {
    color: var(--accentD);
}

.theme-dark .markup_d6076c a {
    color: var(--accentD);
}

.theme-light .markup_d6076c a {
    color: var(--accent);
}

.icon_a3b500,
.icon_d90b3d {
    color: var(--accent);
}

.theme-dark .icon_a3b500,
.theme-dark .icon_d90b3d {
    color: var(--accentD);
}

.theme-light .clickable_e44302 .icon_e44302 {
    color: black;
}

.theme-light .rootWithShadow_f9a4c9 {
    background-color: var(--PGBackground);
    border-radius: 10px;
}

.theme-light .footerSeparator_f9a4c9 {
    background-color: var(--PGBackground);
    border-radius: 10px;
    border-color: transparent;
    border-top: 0px rgba(255, 255, 255, 0) solid;
}

.theme-light .inputDefault_f8bc55 {
    background-color: var(--PGTextBackground);
    border-radius: 1px;
    border-bottom: 1px solid var(--accent);
}

/* Dark */
.theme-dark .button_b9fe76.buttonSize_b9fe76,
.theme-dark .lookFilled_dd4f85.colorPrimary_dd4f85,
.theme-dark .popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga,
.theme-dark .full-motion .button__292b6,
.theme-dark .lookFilled_dd4f85.colorBrand_dd4f85,
.theme-dark .navButtonActive_af5dbb,
.theme-dark .lookFilled_dd4f85.colorGreen_dd4f85 {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accentD);
    color: var(--accentD);
    text-align: center;
    transition: 0.9s;
}

.theme-dark .button_b9fe76.buttonSize_b9fe76:hover,
.theme-dark .actionButton_e01b91:hover,
.theme-dark .lookFilled_dd4f85.colorPrimary_dd4f85:hover,
.theme-dark .popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga:hover {
    background-color: var(--accent-hoverD);
    border-radius: 10px;
    transition: 0.3s;
}

.theme-dark .clickable_e44302 .icon_e44302,
.theme-dark .linkButtonIcon_c91bad {
    color: var(--accentD) !important;
}

.theme-dark .clickable_e44302 .icon_e44302:hover,
.theme-dark .linkButtonIcon_c91bad:hover {
    margin-top: 2px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 5px;
}

.theme-dark .iconWrapper_e44302 .icon_e44302,
.theme-dark .stickerIcon__3ceda,
.theme-dark .icon_cecf00,
.theme-dark .circleIcon_db6521,
.theme-dark .buttonWrapper_cecf00 {
    color: var(--accentD);
}

.theme-dark .lookFilled_f6639d.select_f6639d {
    background-color: var(--PGTextBackgroundD);
    border-radius: 1px;
}

.theme-dark .rootWithShadow_f9a4c9 {
    background-color: var(--PGBackgroundD);
    border-radius: 10px;
}

.theme-dark .footerSeparator_f9a4c9 {
    background-color: var(--PGBackgroundD);
    border-radius: 10px;
    border-color: transparent;
    border-top: 0px rgba(255, 255, 255, 0) solid;
}

.theme-dark .inputDefault_f8bc55 {
    background-color: var(--PGTextBackgroundD);
    border-radius: 1px;
    border-bottom: 1px solid var(--accentD);
}
