/*
  ///////////////////////////////////////
  ////////////// Buttons
  //////////////////////////////////////
  */

/* Buttons */
.theme-light .button__8ec71.buttonSize_b01b54,
.theme-light .lookFilled__19298.colorPrimary__6ed40,
.theme-light .popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga,
.theme-light .full-motion .button_ddf91e,
.theme-light .lookFilled__19298.colorBrand_b2253e,
.theme-light .navButtonActive__735cb,
.theme-light .lookFilled__19298.colorGreen__5f181 {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accent);
    color: var(--accent);
    text-align: center;
    transition: 0.9s;
}

.lookFilled__19298.colorRed_d6b062,
.lookOutlined__46d54.colorRed_d6b062 {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: red;
    color: red;
    text-align: center;
    transition: 0.9s;
}

.lookFilled__3dba3.select__0eb48 {
    background-color: var(--PGTextBackground);
    border-radius: 1px;
}

.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542,
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover {
    border: solid 2px var(--accent);
    border-radius: 15px;
    background-color: var(--accent-hover);
}

.theme-dark .tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542,
.theme-dark .tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542:hover {
    border: solid 2px var(--accentD);
    border-radius: 15px;
    background-color: var(--accent-hoverD);
}

.button__8ec71.buttonSize_b01b54:hover,
.actionButton__23182:hover,
.lookFilled__19298.colorPrimary__6ed40:hover,
.popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga:hover {
    background-color: var(--accent-hover);
    border-radius: 10px;
    transition: 0.3s;
}

.clickable_d23a1a .icon__4cb88,
.linkButtonIcon__2f35b {
    color: var(--accent) !important;
}

.clickable_d23a1a .icon__4cb88:hover,
.linkButtonIcon__2f35b:hover {
    margin-top: 2px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 5px;
}

.iconWrapper_af9215 .icon__4cb88,
.stickerIcon_ff97e4,
.icon__68853,
.circleIcon__428dd,
.buttonWrapper__69593 {
    color: var(--accent);
}

.wrapper_c727b6 {
    box-shadow: inset 1px 1px 3px 1px rgba(128, 128, 128, 0.336);
    transition: 0.3s;
}

.theme-light .linkButtonIcon__2f35b {
    color: var(--accent);
}

.theme-dark .linkButtonIcon__2f35b {
    color: var(--accentD);
}

.theme-dark .markup_a7e664 a {
    color: var(--accentD);
}

.theme-light .markup_a7e664 a {
    color: var(--accent);
}

.icon_d1ac81,
.icon_f09dde {
    color: var(--accent);
}

.theme-dark .icon_d1ac81,
.theme-dark .icon_f09dde {
    color: var(--accentD);
}

.theme-light .clickable_d23a1a .icon__4cb88 {
    color: black;
}

.theme-light .rootWithShadow__073a7 {
    background-color: var(--PGBackground);
    border-radius: 10px;
}

.theme-light .footerSeparator__57d95 {
    background-color: var(--PGBackground);
    border-radius: 10px;
    border-color: transparent;
    border-top: 0px rgba(255, 255, 255, 0) solid;
}

.theme-light .inputDefault__80165 {
    background-color: var(--PGTextBackground);
    border-radius: 1px;
    border-bottom: 1px solid var(--accent);
}

/* Dark */
.theme-dark .button__8ec71.buttonSize_b01b54,
.theme-dark .lookFilled__19298.colorPrimary__6ed40,
.theme-dark .popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga,
.theme-dark .full-motion .button_ddf91e,
.theme-dark .lookFilled__19298.colorBrand_b2253e,
.theme-dark .navButtonActive__735cb,
.theme-dark .lookFilled__19298.colorGreen__5f181 {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accentD);
    color: var(--accentD);
    text-align: center;
    transition: 0.9s;
}

.theme-dark .button__8ec71.buttonSize_b01b54:hover,
.theme-dark .actionButton__23182:hover,
.theme-dark .lookFilled__19298.colorPrimary__6ed40:hover,
.theme-dark .popoutBannerPremium-2RvDNZ .pencilContainer-11Kuga:hover {
    background-color: var(--accent-hoverD);
    border-radius: 10px;
    transition: 0.3s;
}

.theme-dark .clickable_d23a1a .icon__4cb88,
.theme-dark .linkButtonIcon__2f35b {
    color: var(--accentD) !important;
}

.theme-dark .clickable_d23a1a .icon__4cb88:hover,
.theme-dark .linkButtonIcon__2f35b:hover {
    margin-top: 2px;
    transition: 0.5s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 5px;
}

.theme-dark .iconWrapper_af9215 .icon__4cb88,
.theme-dark .stickerIcon_ff97e4,
.theme-dark .icon__68853,
.theme-dark .circleIcon__428dd,
.theme-dark .buttonWrapper__69593 {
    color: var(--accentD);
}

.theme-dark .lookFilled__3dba3.select__0eb48 {
    background-color: var(--PGTextBackgroundD);
    border-radius: 1px;
}

.theme-dark .rootWithShadow__073a7 {
    background-color: var(--PGBackgroundD);
    border-radius: 10px;
}

.theme-dark .footerSeparator__57d95 {
    background-color: var(--PGBackgroundD);
    border-radius: 10px;
    border-color: transparent;
    border-top: 0px rgba(255, 255, 255, 0) solid;
}

.theme-dark .inputDefault__80165 {
    background-color: var(--PGTextBackgroundD);
    border-radius: 1px;
    border-bottom: 1px solid var(--accentD);
}
