/*------------------- Source to Project Garrison --------------*/

code,
.codeBlockText_cdb578,
.codeLine_cdb578,
.markup_d6076c code.inline,
.after_inlineCode_cdb578,
.before_inlineCode_cdb578,
.inlineCode_cdb578 {
    font-family: mono, monospace;
}

/* Color Pallete */

.theme-light {
    --background-tertiary: var(--PGBackground);
    --background-secondary: var(--PGBackground);
    --background-secondary-alt: var(--PGBackground2);
    --background-primary: var(--PGBackground);
    --channeltextarea-background: var(--PGTextBackground);
    --home-background: var(--PGBackground);
    --background-accent: var(--accent);
    --background-modifier-hover: var(--PGBackground2);
    --background-modifier-active: var(--PGBackground2);
    --background-modifier-selected: var(--accent-selected);
    --deprecated-card-bg: #12141f63;
    --background-floating: var(--PGBackground2);
    --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
    --elevation-low: none;
    --toast-background: #ffffff !important;
    --toast-header: #ffffff !important;
    --toast-contents: #ffffff !important;
    --brand-experiment-500: var(--accent-selected);
    --brand-experiment-560: var(--accent-selected);
}

.theme-dark {
    --background-tertiary: var(--PGBackgroundD);
    --background-secondary: var(--PGBackgroundD);
    --background-secondary-alt: var(--PGBackground2D);
    --background-primary: var(--PGBackgroundD);
    --channeltextarea-background: var(--PGTextBackgroundD);
    --home-background: var(--PGBackgroundD);
    --background-accent: var(--accent);
    --background-modifier-hover: var(--PGBackground2D);
    --background-modifier-active: var(--PGBackground2D);
    --background-modifier-selected: var(--accent-selectedD);
    --deprecated-card-bg: #12141f63;
    --background-floating: var(--PGBackground2D);
    --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
    --elevation-low: none;
    --toast-background: #ffffff !important;
    --toast-header: #ffffff !important;
    --toast-contents: #ffffff !important;
    --brand-experiment-500: var(--accent-selectedD);
    --brand-experiment-560: var(--accent-selectedD);
}

/* 
  ///////////////////////////////
  //////////// THEME SPECIFIC
  //////////////////////////////
  */

.theme-dark .modeSelected_d8bfb3 .icon_d8bfb3,
.theme-dark .modeSelected_d8bfb3:hover .icon_d8bfb3,
.theme-dark .modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.theme-dark .modeUnreadImportant_d8bfb3:hover .icon_d8bfb3,
.theme-dark .mainContent_a08117 .overflow_c74e70,
.theme-dark .mainContent_a08117 {
    color: var(--PGColorTextD) !important;
}

.theme-dark .messageContent_ec86aa,
.theme-dark .modeConnected_d8bfb3 .name_d8bfb3,
.theme-dark .modeConnected_d8bfb3:hover .name_d8bfb3,
.theme-dark .modeSelected_d8bfb3 .name_d8bfb3,
.theme-dark .modeSelected_d8bfb3:hover .name_d8bfb3,
.theme-dark .modeUnreadImportant_d8bfb3 .name_d8bfb3,
.theme-dark .modeUnreadImportant_d8bfb3:hover .name_d8bfb3,
.theme-dark .notInteractive_d8bfb3.modeConnected_d8bfb3 .name_d8bfb3,
.theme-dark .notInteractive_d8bfb3.modeSelected_d8bfb3 .name_d8bfb3,
.theme-dark .title_e44302 {
    color: var(--PGColorTextD);
}

.numberBadge__40d6f,
.unreadImportant_d8bfb3,
.newBadge__4f501,
.item_fd07a3 {
    background: var(--accent) !important;
}

.theme-dark .numberBadge__40d6f,
.theme-dark .unreadImportant_d8bfb3,
.theme-dark .newBadge__4f501,
.theme-dark .item_fd07a3 {
    background: var(--accentD) !important;
}

.item_fd07a3 {
    margin-left: 4px;
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.theme-dark .item_fd07a3 {
    margin-left: 4px;
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}
