/*------------------- Source to Project Garrison --------------*/

code,
.codeBlockText_bcfd01,
.codeLine__10acb,
.markup_a7e664 code.inline,
.after_inlineCode__59586,
.before_inlineCode__48f7c,
.inlineCode__0cacf {
    font-family: mono, monospace;
}

/* Color Pallete */

.theme-light {
    --background-tertiary: var(--PGBackground);
    --background-secondary: var(--PGBackground);
    --background-secondary-alt: var(--PGBackground2);
    --background-primary: var(--PGBackground);
    --channeltextarea-background: var(--PGTextBackground);
    --home-background: var(--PGBackground);
    --background-accent: var(--accent);
    --background-modifier-hover: var(--PGBackground2);
    --background-modifier-active: var(--PGBackground2);
    --background-modifier-selected: var(--accent-selected);
    --deprecated-card-bg: #12141f63;
    --background-floating: var(--PGBackground2);
    --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
    --elevation-low: none;
    --toast-background: #ffffff !important;
    --toast-header: #ffffff !important;
    --toast-contents: #ffffff !important;
    --brand-experiment-500: var(--accent-selected);
    --brand-experiment-560: var(--accent-selected);
}

.theme-dark {
    --background-tertiary: var(--PGBackgroundD);
    --background-secondary: var(--PGBackgroundD);
    --background-secondary-alt: var(--PGBackground2D);
    --background-primary: var(--PGBackgroundD);
    --channeltextarea-background: var(--PGTextBackgroundD);
    --home-background: var(--PGBackgroundD);
    --background-accent: var(--accent);
    --background-modifier-hover: var(--PGBackground2D);
    --background-modifier-active: var(--PGBackground2D);
    --background-modifier-selected: var(--accent-selectedD);
    --deprecated-card-bg: #12141f63;
    --background-floating: var(--PGBackground2D);
    --deprecated-quickswitcher-input-background: rgba(237, 237, 237);
    --elevation-low: none;
    --toast-background: #ffffff !important;
    --toast-header: #ffffff !important;
    --toast-contents: #ffffff !important;
    --brand-experiment-500: var(--accent-selectedD);
    --brand-experiment-560: var(--accent-selectedD);
}

/* 
  ///////////////////////////////
  //////////// THEME SPECIFIC
  //////////////////////////////
  */

.theme-dark .modeSelected__473f1 .icon__67ab4,
.theme-dark .modeSelected__473f1:hover .icon__67ab4,
.theme-dark .modeUnreadImportant__35358 .icon__67ab4,
.theme-dark .modeUnreadImportant__35358:hover .icon__67ab4,
.theme-dark .mainContent__2333c .overflow__993fa,
.theme-dark .mainContent__2333c {
    color: var(--PGColorTextD) !important;
}

.theme-dark .messageContent_abea64,
.theme-dark .modeConnected__52a8f .name__4eb92,
.theme-dark .modeConnected__52a8f:hover .name__4eb92,
.theme-dark .modeSelected__473f1 .name__4eb92,
.theme-dark .modeSelected__473f1:hover .name__4eb92,
.theme-dark .modeUnreadImportant__35358 .name__4eb92,
.theme-dark .modeUnreadImportant__35358:hover .name__4eb92,
.theme-dark .notInteractive_e31551.modeConnected__52a8f .name__4eb92,
.theme-dark .notInteractive_e31551.modeSelected__473f1 .name__4eb92,
.theme-dark .title__84e16 {
    color: var(--PGColorTextD);
}

.numberBadge__40d6f,
.unreadImportant_e8bb44,
.newBadge__4f501,
.item_f9d377 {
    background: var(--accent) !important;
}

.theme-dark .numberBadge__40d6f,
.theme-dark .unreadImportant_e8bb44,
.theme-dark .newBadge__4f501,
.theme-dark .item_f9d377 {
    background: var(--accentD) !important;
}

.item_f9d377 {
    margin-left: 4px;
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.theme-dark .item_f9d377 {
    margin-left: 4px;
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}
