/*
  ///////////////////////////////////////
  ////////////// Sliders
  //////////////////////////////////////
  */

/* Sliders */
.barFill__1f56b {
    background: var(--brand-experiment);
}

.scroller_e412fe::-webkit-scrollbar-track,
.auto_a3c0bd::-webkit-scrollbar-track,
.peopleColumn__0c784::-webkit-scrollbar-track {
    background-color: var(--background-secondary-alt);
    margin-top: 15px;
    margin-bottom: 15px;
}

.scroller_e412fe::-webkit-scrollbar-track,
.auto_a3c0bd::-webkit-scrollbar-track,
.peopleColumn__0c784::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.198);
}

.scroller_e412fe::-webkit-scrollbar-thumb,
.auto_a3c0bd::-webkit-scrollbar-thumb,
.thin_b1c063::-webkit-scrollbar-thumb,
.peopleColumn__0c784::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border: solid var(--background-secondary-alt) 3px;
    transition: 0.5s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.scroller_e412fe::-webkit-scrollbar-thumb:hover,
.auto_a3c0bd::-webkit-scrollbar-thumb:hover,
.thin_b1c063::-webkit-scrollbar-thumb:hover,
.peopleColumn__0c784::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
    transition: 0.5s;
}

/* Dark */
.theme-dark .scroller_e412fe::-webkit-scrollbar-thumb,
.theme-dark .auto_a3c0bd::-webkit-scrollbar-thumb,
.theme-dark .thin_b1c063::-webkit-scrollbar-thumb,
.theme-dark .peopleColumn__0c784::-webkit-scrollbar-thumb {
    background-color: var(--accentD);
    border: solid var(--background-secondary-alt) 3px;
    transition: 0.5s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .scroller_e412fe::-webkit-scrollbar-thumb:hover,
.theme-dark .auto_a3c0bd::-webkit-scrollbar-thumb:hover,
.theme-dark .thin_b1c063::-webkit-scrollbar-thumb:hover,
.theme-dark .peopleColumn__0c784::-webkit-scrollbar-thumb:hover {
    background-color: var(--accentD);
    transition: 0.5s;
}

/* Sidebar "selected" Accents */
.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda,
.topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda,
.interactiveSelected__689f0 {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accent);
    text-align: center;
    transition: 0.5s;
    border-radius: 1px;
}

.channel__0aef5:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accent);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border-radius: 1px;
}

.mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.unreadImportant_e8bb44 {
    background-color: var(--accent);
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.theme-light .unread__75c9f {
    border-radius: 3px;
    border-left: 4px solid var(--accent);
    margin-right: 9px;
    margin-left: 15px;
    background: var(--PGBackground2);
    color: var(--accent);
}

/* Dark */
.theme-dark .side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda,
.theme-dark .topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda,
.theme-dark .interactiveSelected__689f0 {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accentD);
    text-align: center;
    transition: 0.5s;
    border-radius: 1px;
}

.theme-dark .channel__0aef5:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border-radius: 1px;
}

.theme-dark .mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.theme-dark .unreadImportant_e8bb44 {
    background-color: var(--accentD);
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.theme-dark .unread__75c9f {
    border-radius: 3px;
    border-left: 4px solid var(--accentD);
    background: var(--PGBackground2D);
    box-shadow: var(--accentD);
    margin-right: 9px;
    margin-left: 15px;
}

/* "New" Mentions */
.mention_dd733a {
    background-color: var(--accent);
    transition: 0.3s;
}

/* Dark */
.theme-dark .mention_dd733a {
    background-color: var(--accentD);
    transition: 0.3s;
}
