/*
  ///////////////////////////////////////
  ////////////// Sliders
  //////////////////////////////////////
  */

/* Sliders */
.barFill_c7a159 {
    background: var(--brand-experiment);
}

.scroller_e2e187::-webkit-scrollbar-track,
.auto_eed6a8::-webkit-scrollbar-track,
.peopleColumn_c2739c::-webkit-scrollbar-track {
    background-color: var(--background-secondary-alt);
    margin-top: 15px;
    margin-bottom: 15px;
}

.scroller_e2e187::-webkit-scrollbar-track,
.auto_eed6a8::-webkit-scrollbar-track,
.peopleColumn_c2739c::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.198);
}

.scroller_e2e187::-webkit-scrollbar-thumb,
.auto_eed6a8::-webkit-scrollbar-thumb,
.thin_eed6a8::-webkit-scrollbar-thumb,
.peopleColumn_c2739c::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border: solid var(--background-secondary-alt) 3px;
    transition: 0.5s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.scroller_e2e187::-webkit-scrollbar-thumb:hover,
.auto_eed6a8::-webkit-scrollbar-thumb:hover,
.thin_eed6a8::-webkit-scrollbar-thumb:hover,
.peopleColumn_c2739c::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
    transition: 0.5s;
}

/* Dark */
.theme-dark .scroller_e2e187::-webkit-scrollbar-thumb,
.theme-dark .auto_eed6a8::-webkit-scrollbar-thumb,
.theme-dark .thin_eed6a8::-webkit-scrollbar-thumb,
.theme-dark .peopleColumn_c2739c::-webkit-scrollbar-thumb {
    background-color: var(--accentD);
    border: solid var(--background-secondary-alt) 3px;
    transition: 0.5s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .scroller_e2e187::-webkit-scrollbar-thumb:hover,
.theme-dark .auto_eed6a8::-webkit-scrollbar-thumb:hover,
.theme-dark .thin_eed6a8::-webkit-scrollbar-thumb:hover,
.theme-dark .peopleColumn_c2739c::-webkit-scrollbar-thumb:hover {
    background-color: var(--accentD);
    transition: 0.5s;
}

/* Sidebar "selected" Accents */
.side_a0 .themed_a0.selected_a0.item_a0,
.topPill_a0 .themed_a0.selected_a0.item_a0,
.interactiveSelected_c91bad {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accent);
    text-align: center;
    transition: 0.5s;
    border-radius: 1px;
}

.channel_c91bad:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accent);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border-radius: 1px;
}

.mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.unreadImportant_d8bfb3 {
    background-color: var(--accent);
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.theme-light .unread_c10249 {
    border-radius: 3px;
    border-left: 4px solid var(--accent);
    margin-right: 9px;
    margin-left: 15px;
    background: var(--PGBackground2);
    color: var(--accent);
}

/* Dark */
.theme-dark .side_a0 .themed_a0.selected_a0.item_a0,
.theme-dark .topPill_a0 .themed_a0.selected_a0.item_a0,
.theme-dark .interactiveSelected_c91bad {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accentD);
    text-align: center;
    transition: 0.5s;
    border-radius: 1px;
}

.theme-dark .channel_c91bad:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border-radius: 1px;
}

.theme-dark .mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.theme-dark .unreadImportant_d8bfb3 {
    background-color: var(--accentD);
    width: 4px;
    border-radius: 5px 5px 5px 5px;
    transition: 0.5s;
}

.theme-dark .unread_c10249 {
    border-radius: 3px;
    border-left: 4px solid var(--accentD);
    background: var(--PGBackground2D);
    box-shadow: var(--accentD);
    margin-right: 9px;
    margin-left: 15px;
}

/* "New" Mentions */
.mention_c10249 {
    background-color: var(--accent);
    transition: 0.3s;
}

/* Dark */
.theme-dark .mention_c10249 {
    background-color: var(--accentD);
    transition: 0.3s;
}
