/* 
  ///////////////////////////////
  //////////// POP OUTS
  //////////////////////////////
  */

.theme-dark .scroller__750f5,
.theme-dark .messagesPopoutWrap_b3b384:hover,
.theme-dark .recentMentionsPopout__826a9 {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.scroller__750f5,
.messagesPopoutWrap_b3b384:hover,
.recentMentionsPopout__826a9 {
    border-right: var(--accent) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.theme-dark .popout__08442,
.drawerSizingWrapper__30274,
.theme-dark .quickswitcher_a3d29a {
    background-color: var(--PGBackgroundD);
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.popout__08442,
.drawerSizingWrapper__30274,
.quickswitcher_a3d29a {
    background-color: var(--PGBackground);
    border-right: var(--accent) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.theme-dark .focusLock__10aa5,
.theme-dark .root_a28985,
.theme-dark .footerSeparator__57d95 {
    background-color: var(--PGBackground2D);
}

.focusLock__10aa5,
.root_a28985,
.footerSeparator__57d95 {
    background-color: var(--PGBackground2);
}
