/* 
  ///////////////////////////////
  //////////// POP OUTS
  //////////////////////////////
  */

.theme-dark .scroller__8f066,
.theme-dark .messagesPopoutWrap__10dd1:hover,
.theme-dark .recentMentionsPopout__40c54 {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.scroller__8f066,
.messagesPopoutWrap__10dd1:hover,
.recentMentionsPopout__40c54 {
    border-right: var(--accent) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.theme-dark .popout__08442,
.theme-dark .drawerSizingWrapper_e20f1f,
.theme-dark .quickswitcher_b5bb0a {
    background-color: var(--PGBackgroundD);
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.popout__08442,
.drawerSizingWrapper_e20f1f,
.quickswitcher_b5bb0a {
    background-color: var(--PGBackground);
    border-right: var(--accent) 2px solid;
    border-radius: 1px;
    transition: 0.3s;
}

.theme-dark .focusLock__28507,
.theme-dark .root_a28985,
.theme-dark .footerSeparator__2af8d {
    background-color: var(--PGBackground2D);
}

.focusLock__28507,
.root_a28985,
.footerSeparator__2af8d {
    background-color: var(--PGBackground2);
}
