/*
  ///////////////////////////////////////
  ////////////// Settings
  //////////////////////////////////////
  */
.theme-dark .accountProfileCard_b69b77,
.theme-dark .profileBannerPreview-3mLIdO,
.banner-2boKnS .theme-dark .accountProfileCard_b69b77,
.theme-dark .profileBannerPreview-3mLIdO {
    box-shadow: 1px 1px 1px 1px brgba(0, 0, 0, 0.198);
    border-right: solid 2px var(--accentD);
    background-color: var(--PGBackground2D);
    border-radius: 1px;
}

.theme-dark .background_b69b77,
.theme-dark .fieldList_b69b77 {
    background-color: var(--PGBackground2D);
}

.theme-light .accountProfileCard_b69b77,
.theme-light .profileBannerPreview-3mLIdO,
.banner-2boKnS .theme-light .accountProfileCard_b69b77,
.theme-light .profileBannerPreview-3mLIdO {
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-right: solid 2px var(--accent);
    background-color: var(--PGBackground2);
    border-radius: 1px;
}

.theme-light .background_b69b77,
.theme-light .fieldList_b69b77 {
    background-color: var(--PGBackground2);
}

.theme-dark .side_a0 .item_a0:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-light .side_a0 .item_a0:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accent);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-dark .side_a0 .item_a0:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-light .side_a0 .item_a0:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accent);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-dark .side_a0 .header_a0 {
    color: var(--accentD);
    text-align: center;
    margin-bottom: 5px;
}

.theme-light .side_a0 .header_a0 {
    color: var(--accent);
    text-align: center;
    margin-bottom: 5px;
}

.theme-dark .sidebarRegionScroller_c25c6d {
    border-right: solid 1px var(--accentD);
    background-color: var(--PGBackground2D);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}

.theme-light .sidebarRegionScroller_c25c6d {
    border-right: solid 1px var(--accent);
    background-color: var(--PGBackground2);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}
