/*
  ///////////////////////////////////////
  ////////////// Settings
  //////////////////////////////////////
  */
.theme-dark .accountProfileCard__744d8,
.theme-dark .profileBannerPreview-3mLIdO,
.banner-2boKnS .theme-dark .accountProfileCard__744d8,
.theme-dark .profileBannerPreview-3mLIdO {
    box-shadow: 1px 1px 1px 1px brgba(0, 0, 0, 0.198);
    border-right: solid 2px var(--accentD);
    background-color: var(--PGBackground2D);
    border-radius: 1px;
}

.theme-dark .background__4e802,
.theme-dark .fieldList__4e6dd {
    background-color: var(--PGBackground2D);
}

.theme-light .accountProfileCard__744d8,
.theme-light .profileBannerPreview-3mLIdO,
.banner-2boKnS .theme-light .accountProfileCard__744d8,
.theme-light .profileBannerPreview-3mLIdO {
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-right: solid 2px var(--accent);
    background-color: var(--PGBackground2);
    border-radius: 1px;
}

.theme-light .background__4e802,
.theme-light .fieldList__4e6dd {
    background-color: var(--PGBackground2);
}

.theme-dark .side_b4b3f6 .item__48dda:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-light .side_b4b3f6 .item__48dda:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accent);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-dark .side_b4b3f6 .item__48dda:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-light .side_b4b3f6 .item__48dda:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accent);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
}

.theme-dark .side_b4b3f6 .header__71a82 {
    color: var(--accentD);
    text-align: center;
    margin-bottom: 5px;
}

.theme-light .side_b4b3f6 .header__71a82 {
    color: var(--accent);
    text-align: center;
    margin-bottom: 5px;
}

.theme-dark .sidebarRegionScroller__8113e {
    border-right: solid 1px var(--accentD);
    background-color: var(--PGBackground2D);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}

.theme-light .sidebarRegionScroller__8113e {
    border-right: solid 1px var(--accent);
    background-color: var(--PGBackground2);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}
