/*
  ///////////////////////////////////////
  ////////////// Some Chat shit
  //////////////////////////////////////
  */

.theme-dark {
    .autocompleteInner__8785c,
    .container__10dc7,
    .header__60bef,
    .scrollerContainer_bf5dbd,
    .emptyPage__3e15d,
    .container__7590f {
        background-color: var(--PGBackgroundD);
    }
}

.autocompleteInner__8785c {
    background-color: var(--PGBackground);
}

.scrollableContainer__33e06,
.hasConnectedBar__277ab,
.preview_f42b5d {
    border-bottom: solid 1px;
    border-color: var(--accent);
    border-radius: 1px;
}

.scrollableContainer__33e06:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}

.embedFull__8dc21 {
    border-left: 4px solid var(--background-tertiary);
    background: var(--background-secondary);
}

.grid_c7c4e6 {
    overflow: hidden;
    padding: 0.5rem 1rem 1rem 0.75rem;
}

.theme-light .newMessagesBar__8b6d7 {
    margin-top: 10px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accent);
    background: var(--PGBackground2);
    color: black;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.theme-light .jumpToPresentBar__0ff7f {
    margin-bottom: 12px;
    padding-bottom: 2px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accent);
    background: var(--PGBackground2);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.54);
}

.theme-light .barButtonMain__0f5c6,
.theme-light .span_a7874a,
.theme-light .app_de4237 button {
    color: black;
}

.messageContainer_aa7d14,
.messageContainer__95a1c,
.container__7db35,
.messageGroupWrapper_f8c6e9 {
    border-left: solid 2px var(--accent);
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
}

.messageContainer_aa7d14:hover,
.messageContainer__95a1c:hover,
.container__7db35:hover,
.messageGroupWrapper_f8c6e9:hover {
    border-left: solid px var(--accent);
    margin-left: 5px;
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.gridContainer_de8cdc {
    box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.198);
    border-radius: 1px;
}

.message-accessories-1045541717920727060 {
    display: none;
}

.members__9f47b {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-right: solid 1px var(--accent);
    background-color: var(--background-floating);
}

.member_b44d5d {
    background-color: #00000000;
}

.member_b44d5d:hover {
    background-color: #00000000;
    border-left: solid 1px var(--accent);
    transition: 0.3s;
    margin-right: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

/* Dark */
.theme-dark .scrollableContainer__33e06,
.theme-dark .hasConnectedBar__277ab,
.theme-dark .preview_f42b5d {
    border-bottom: solid 1px;
    border-color: var(--accentD);
    border-radius: 1px;
}

.theme-dark .scrollableContainer__33e06:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .embedFull__8dc21 {
    border-left: 4px solid var(--background-tertiary);
    background: var(--background-secondary);
}

.theme-dark .grid_c7c4e6 {
    overflow: hidden;
    padding: 0.5rem 1rem 1rem 0.75rem;
}

.theme-dark .newMessagesBar__8b6d7 {
    margin-top: 10px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accentD);
    background: var(--PGBackground2D);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.theme-dark .jumpToPresentBar__0ff7f {
    margin-bottom: 12px;
    padding-bottom: 2px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accentD);
    background: var(--PGBackground2D);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.theme-dark .messageContainer_aa7d14,
.theme-dark .messageContainer__95a1c,
.theme-dark .container__7db35,
.theme-dark .messageGroupWrapper_f8c6e9 {
    border-left: solid 2px var(--accentD);
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
}

.theme-dark .messageContainer_aa7d14:hover,
.theme-dark .messageContainer__95a1c:hover,
.theme-dark .container__7db35:hover,
.theme-dark .messageGroupWrapper_f8c6e9:hover {
    border-left: solid px var(--accentD);
    margin-left: 5px;
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.theme-dark .gridContainer_de8cdc {
    box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.198);
    border-radius: 1px;
}

.theme-dark .message-accessories-1045541717920727060 {
    display: none;
}

.theme-dark .members__9f47b {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-right: solid 1px var(--accentD);
    background-color: var(--background-floating);
}

.theme-dark .member_b44d5d {
    background-color: #000 0;
}

.theme-dark .member_b44d5d:hover {
    background-color: #000 0;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    margin-right: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .placeholder_e68c63 {
    color: var(--accent-selectedD);
    font-size: 14px;
}

.theme-light .placeholder_e68c63 {
    color: var(--accent-hover);
    font-size: 14px;
}

/* Reply Highlight */

#app-mount .message__80c10 {
    margin-left: 5px;
    border-radius: vaR(--accent-focused);
}

#app-mount .message__80c10::before {
    border-radius: 6px;
}

#app-mount .message__80c10.mentioned__58017 {
    background-color: var(--accent-focused);
}

#app-mount .message__80c10.mentioned__58017::before {
    background-color: var(--accent);
}

#app-mount .message__80c10.mentioned__58017:hover {
    background-color: var(--accent-focused);
}

#app-mount .message__80c10.replying_d7b6ad,
#app-mount .message__80c10.ephemeral_c26b64 {
    background-color: var(--accent-focused);
}

#app-mount .message__80c10.replying_d7b6ad::before,
#app-mount .message__80c10.ephemeral_c26b64::before {
    background-color: var(--accent);
}

#app-mount .message__80c10.replying_d7b6ad:hover,
#app-mount .message__80c10.ephemeral_c26b64:hover {
    background-color: var(--accent-focused);
}

/* Dark */
.theme-dark #app-mount .message__80c10 {
    margin-left: 5px;
    border-radius: vaR(--accent-focusedD);
}

.theme-dark #app-mount .message__80c10::before {
    border-radius: 6px;
}

.theme-dark #app-mount .message__80c10.mentioned__58017 {
    background-color: var(--accent-focusedD);
}

.theme-dark #app-mount .message__80c10.mentioned__58017::before {
    background-color: var(--accentD);
}

.theme-dark #app-mount .message__80c10.mentioned__58017:hover {
    background-color: var(--accent-focusedD);
}

.theme-dark #app-mount .message__80c10.replying_d7b6ad,
.theme-dark #app-mount .message__80c10.ephemeral_c26b64 {
    background-color: var(--accent-focusedD);
}

.theme-dark #app-mount .message__80c10.replying_d7b6ad::before,
.theme-dark #app-mount .message__80c10.ephemeral_c26b64::before {
    background-color: var(--accentD);
}

.theme-dark #app-mount .message__80c10.replying_d7b6ad:hover,
.theme-dark #app-mount .message__80c10.ephemeral_c26b64:hover {
    background-color: var(--accent-focusedD);
}
