/*
  ///////////////////////////////////////
  ////////////// Some Chat shit
  //////////////////////////////////////
  */

.theme-dark {
    .autocompleteInner__0bf3d,
    .container__03ec9,
    .header__71942,
    .scrollerContainer_dda72c,
    .emptyPage_feb902,
    .container__6b2e5,
    .pageWrapper_c182d3 {
        background-color: var(--PGBackgroundD);
    }
}

.theme-dark .searchBox__56feb {
    background-color: var(--PGTextBackgroundD);
}

.autocompleteInner__0bf3d {
    background-color: var(--PGBackground);
}

.scrollableContainer_ff917f,
.hasConnectedBar__7d21e,
.preview__30ef4 {
    border-bottom: solid 1px;
    border-color: var(--accent);
    border-radius: 1px;
}

.scrollableContainer_ff917f:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}

.embedFull__14919 {
    border-left: 4px solid var(--background-tertiary);
    background: var(--background-secondary);
}

.grid__35551 {
    overflow: hidden;
    padding: 0.5rem 1rem 1rem 0.75rem;
}

.theme-light .newMessagesBar__8b272 {
    margin-top: 10px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accent);
    background: var(--PGBackground2);
    color: black;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.theme-light .jumpToPresentBar__69174 {
    margin-bottom: 12px;
    padding-bottom: 2px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accent);
    background: var(--PGBackground2);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.54);
}

.theme-light .barButtonMain__984b4,
.theme-light .span_b2761b,
.theme-light .app_de4237 button {
    color: black;
}

.messageContainer_cb3d47,
.messageContainer__3e208,
.container__3be1d,
.messageGroupWrapper__1fce2 {
    border-left: solid 2px var(--accent);
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
}

.messageContainer_cb3d47:hover,
.messageContainer__3e208:hover,
.container__3be1d:hover,
.messageGroupWrapper__1fce2:hover {
    border-left: solid px var(--accent);
    margin-left: 5px;
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.gridContainer_e31d85 {
    box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.198);
    border-radius: 1px;
}

.message-accessories-1045541717920727060 {
    display: none;
}

.members__573eb {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-right: solid 1px var(--accent);
    background-color: var(--background-floating);
}

.member_b44d5d {
    background-color: #00000000;
}

.member_b44d5d:hover {
    background-color: #00000000;
    border-left: solid 1px var(--accent);
    transition: 0.3s;
    margin-right: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

/* Dark */
.theme-dark .scrollableContainer_ff917f,
.theme-dark .hasConnectedBar__7d21e,
.theme-dark .preview__30ef4 {
    border-bottom: solid 1px;
    border-color: var(--accentD);
    border-radius: 1px;
}

.theme-dark .scrollableContainer_ff917f:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .embedFull__14919 {
    border-left: 4px solid var(--background-tertiary);
    background: var(--background-secondary);
}

.theme-dark .grid__35551 {
    overflow: hidden;
    padding: 0.5rem 1rem 1rem 0.75rem;
}

.theme-dark .newMessagesBar__8b272 {
    margin-top: 10px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accentD);
    background: var(--PGBackground2D);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.theme-dark .jumpToPresentBar__69174 {
    margin-bottom: 12px;
    padding-bottom: 2px;
    margin-right: 100px;
    border-radius: 1px;
    border-right: 4px solid var(--accentD);
    background: var(--PGBackground2D);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.54);
}

.theme-dark .messageContainer_cb3d47,
.theme-dark .messageContainer__3e208,
.theme-dark .container__3be1d,
.theme-dark .messageGroupWrapper__1fce2 {
    border-left: solid 2px var(--accentD);
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
}

.theme-dark .messageContainer_cb3d47:hover,
.theme-dark .messageContainer__3e208:hover,
.theme-dark .container__3be1d:hover,
.theme-dark .messageGroupWrapper__1fce2:hover {
    border-left: solid px var(--accentD);
    margin-left: 5px;
    border-radius: 1px;
    background-color: var(--background-modifier-hover);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.theme-dark .gridContainer_e31d85 {
    box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.198);
    border-radius: 1px;
}

.theme-dark .message-accessories-1045541717920727060 {
    display: none;
}

.theme-dark .members__573eb {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-right: solid 1px var(--accentD);
    background-color: var(--background-floating);
}

.theme-dark .member_b44d5d {
    background-color: #000 0;
}

.theme-dark .member_b44d5d:hover {
    background-color: #000 0;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    margin-right: 5px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .placeholder_dec8c7 {
    color: var(--accent-selectedD);
    font-size: 14px;
}

.theme-light .placeholder_dec8c7 {
    color: var(--accent-hover);
    font-size: 14px;
}

/* Reply Highlight */

#app-mount .message_ccca67 {
    margin-left: 5px;
    border-radius: vaR(--accent-focused);
}

#app-mount .message_ccca67::before {
    border-radius: 6px;
}

#app-mount .message_ccca67.mentioned_fa6fd2 {
    background-color: var(--accent-focused);
}

#app-mount .message_ccca67.mentioned_fa6fd2::before {
    background-color: var(--accent);
}

#app-mount .message_ccca67.mentioned_fa6fd2:hover {
    background-color: var(--accent-focused);
}

#app-mount .message_ccca67.replying__38514,
#app-mount .message_ccca67.ephemeral_eb5d84 {
    background-color: var(--accent-focused);
}

#app-mount .message_ccca67.replying__38514::before,
#app-mount .message_ccca67.ephemeral_eb5d84::before {
    background-color: var(--accent);
}

#app-mount .message_ccca67.replying__38514:hover,
#app-mount .message_ccca67.ephemeral_eb5d84:hover {
    background-color: var(--accent-focused);
}

/* Dark */
.theme-dark #app-mount .message_ccca67 {
    margin-left: 5px;
    border-radius: vaR(--accent-focusedD);
}

.theme-dark #app-mount .message_ccca67::before {
    border-radius: 6px;
}

.theme-dark #app-mount .message_ccca67.mentioned_fa6fd2 {
    background-color: var(--accent-focusedD);
}

.theme-dark #app-mount .message_ccca67.mentioned_fa6fd2::before {
    background-color: var(--accentD);
}

.theme-dark #app-mount .message_ccca67.mentioned_fa6fd2:hover {
    background-color: var(--accent-focusedD);
}

.theme-dark #app-mount .message_ccca67.replying__38514,
.theme-dark #app-mount .message_ccca67.ephemeral_eb5d84 {
    background-color: var(--accent-focusedD);
}

.theme-dark #app-mount .message_ccca67.replying__38514::before,
.theme-dark #app-mount .message_ccca67.ephemeral_eb5d84::before {
    background-color: var(--accentD);
}

.theme-dark #app-mount .message_ccca67.replying__38514:hover,
.theme-dark #app-mount .message_ccca67.ephemeral_eb5d84:hover {
    background-color: var(--accent-focusedD);
}
