/*
  ///////////////////////////////////////
  ////////////// Sidebars
  //////////////////////////////////////
  */

.panels__58331 {
    border-radius: 15px;
    margin-bottom: 18px;
    margin-right: 2px;
    margin-left: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accent);
    color: var(--accent);
    text-align: center;
    transition: 0.9s;
}

.iconContainer__3f9b0[aria-label="Text (Age-Restricted)"] > svg {
    color: #ff5252 !important;
}

.icon_eff5d4,
.modeSelected__487d6 .wrapper__7bcde,
.modeSelected__487d6:hover .wrapper__7bcde {
    color: var(--accent-selected);
    border-radius: 0px 15px 15px 15px;
}

.modeSelected__487d6 .wrapper__7bcde,
.modeSelected__487d6:hover .wrapper__7bcde {
    border-left: var(--accent) 1px solid;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.033);
}

.wrapper__7bcde:hover {
    border-left: var(--accent) 1px solid;
    border-radius: 1px;
    margin-right: 2px;
    transition: 0.3s;
}

.mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}

.addButtonIcon_b776b3,
.modeUnread_f74c03 .icon_eff5d4,
.unreadRelevant__44f9e {
    color: var(--accent) !important;
}

.modeConnected__1c02e .name__8d1ec,
.modeConnected__1c02e:hover .name__8d1ec,
.modeSelected__487d6 .name__8d1ec,
.modeSelected__487d6:hover .name__8d1ec,
.modeUnread_f74c03 .name__8d1ec,
.modeUnread_f74c03:hover .name__8d1ec,
.notInteractive_a7d9fb.modeConnected__1c02e .name__8d1ec,
.notInteractive_a7d9fb.modeSelected__487d6 .name__8d1ec {
    color: var(--accent) !important;
}

.modeSelected__487d6 .icon_eff5d4,
.modeSelected__487d6:hover .icon_eff5d4,
.modeUnread_f74c03 .icon_eff5d4,
.modeUnread_f74c03:hover .icon_eff5d4,
.mainContent_a0b319 .overflow__87fe8,
.mainContent_a0b319 {
    color: var(--accent) !important;
}

.closedFolderIconWrapper__7321f {
    background-color: var(--accent-selected);
}

.theme-dark .closedFolderIconWrapper__7321f {
    background-color: var(--accent-selectedD);
}

.expandedFolderBackground__1bec6 {
    box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
}

.closedFolderIconWrapper__7321f:hover {
    box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.expandedFolderBackground__1bec6.collapsed__0a270,
.expandedFolderBackground__1bec6.collapsed__0a270.hover__043de {
    display: none;
}

.folder__17546,
.folder__17546:hover {
    background-color: #00000000;
}

.item_f9d377 {
    width: 8px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    background-color: rgb(145, 138, 152);
}

.circleIconButton_d8df29 {
    background: var(--background-secondary-alt) !important;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30px;
    color: var(--accent-selected);
    transition: 0.5s;
}

.circleIconButton_d8df29:hover {
    background: rgba(99, 81, 199, 0.276);
    box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30px;
    color: var(--accent-selected);
    transition: 0.5s;
}

.theme-light .button__66e8c.buttonColor_a6eb73,
.theme-light .buttonColor__6f6b0 {
    border-radius: 16px;
    background-color: var(--accent-selected);
}

.container_d667ff {
    border-radius: 16px;
}

.theme-light .modeSelected__487d6 .link__95dc0,
.theme-light .modeSelected__487d6:hover .link__95dc0 {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accent);
    transition: 0.5s;
    border-radius: 1px;
}

.theme-light .link__95dc0:hover {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accent);
    transition: 0.2s;
    border-radius: 1px;
}

/* Dark */
.theme-dark .modeSelected__487d6 .link__95dc0,
.theme-dark .modeSelected__487d6:hover .link__95dc0 {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accentD);
    transition: 0.5s;
    border-radius: 1px;
}

.theme-dark .link__95dc0:hover {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accentD);
    transition: 0.2s;
    border-radius: 1px;
}

.theme-dark .panels__58331 {
    border-radius: 15px;
    margin-bottom: 18px;
    margin-right: 2px;
    margin-left: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .button__66e8c.buttonColor_a6eb73,
.theme-dark .buttonColor__6f6b0 {
    border-radius: 16px;
    background-color: var(--accent-selectedD);
}

.theme-dark .topPill__0cdf1 .themed_b957e8.selected__5711d.item__48dda {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accentD);
    color: var(--accentD);
    text-align: center;
    transition: 0.9s;
}

.theme-dark .iconContainer__3f9b0[aria-label="Text (Age-Restricted)"] > svg {
    color: #ff5252 !important;
}

.theme-dark .icon_eff5d4,
.theme-dark .modeSelected__487d6 .wrapper__7bcde,
.theme-dark .modeSelected__487d6:hover .wrapper__7bcde {
    color: var(--accent-selectedD);
    border-radius: 0px 15px 15px 15px;
}

.theme-dark .modeSelected__487d6 .wrapper__7bcde,
.theme-dark .modeSelected__487d6:hover .wrapper__7bcde {
    border-left: var(--accentD) 1px solid;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.033);
}

.theme-dark .wrapper__7bcde:hover {
    border-left: var(--accentD) 1px solid;
    border-radius: 1px;
    margin-right: 2px;
    transition: 0.3s;
}

.theme-dark .mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}

.theme-dark .addButtonIcon_b776b3,
.theme-dark .modeUnread_f74c03 .icon_eff5d4,
.theme-dark .unreadRelevant__44f9e {
    color: var(--accentD) !important;
}

.theme-dark .modeConnected__1c02e .name__8d1ec,
.theme-dark .modeConnected__1c02e:hover .name__8d1ec,
.theme-dark .modeSelected__487d6 .name__8d1ec,
.theme-dark .modeSelected__487d6:hover .name__8d1ec,
.theme-dark .modeUnread_f74c03 .name__8d1ec,
.theme-dark .modeUnread_f74c03:hover .name__8d1ec,
.theme-dark .notInteractive_a7d9fb.modeConnected__1c02e .name__8d1ec,
.theme-dark .notInteractive_a7d9fb.modeSelected__487d6 .name__8d1ec {
    color: var(--accentD) !important;
}

.theme-dark .modeSelected__487d6 .icon_eff5d4,
.theme-dark .modeSelected__487d6:hover .icon_eff5d4,
.theme-dark .modeUnread_f74c03 .icon_eff5d4,
.theme-dark .modeUnread_f74c03:hover .icon_eff5d4,
.theme-dark .mainContent_a0b319 .overflow__87fe8,
.theme-dark .mainContent_a0b319 {
    color: var(--accentD) !important;
}

.theme-dark .expandedFolderBackground__1bec6 {
    box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 15px solid var(--accentD);
}

.theme-dark .closedFolderIconWrapper__7321f:hover {
    box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.theme-dark .expandedFolderBackground__1bec6.collapsed__0a270,
.theme-dark .expandedFolderBackground__1bec6.collapsed__0a270.hover__043de {
    display: none;
}

.theme-dark .folder__17546,
.theme-dark .folder__17546:hover {
    background-color: #000 0;
}

.theme-dark .item_f9d377 {
    width: 8px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    background-color: #918a98;
}

.theme-dark .circleIconButton_d8df29 {
    background: var(--background-secondary-alt) !important;
    backdrop-filter: blur(20px);
    border: 1px solid var(--accentD);
    border-radius: 30px;
    color: var(--accent-selectedD);
    transition: 0.5s;
}

.theme-dark .circleIconButton_d8df29:hover {
    background: rgba(99, 81, 199, 0.276);
    box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border: 1px solid var(--accentD);
    border-radius: 30px;
    color: var(--accent-selectedD);
    transition: 0.5s;
}

.container_ca50b9 {
    border-radius: 30px;
}
