/*
  ///////////////////////////////////////
  ////////////// Sidebars
  //////////////////////////////////////
  */

.panels__58331 {
    border-radius: 15px;
    margin-bottom: 18px;
    margin-right: 2px;
    margin-left: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accent);
    color: var(--accent);
    text-align: center;
    transition: 0.9s;
}

.iconContainer__6a580[aria-label="Text (Age-Restricted)"] > svg {
    color: #ff5252 !important;
}

.icon__67ab4,
.modeSelected__473f1 .wrapper__612a5,
.modeSelected__473f1:hover .wrapper__612a5 {
    color: var(--accent-selected);
    border-radius: 0px 15px 15px 15px;
}

.modeSelected__473f1 .wrapper__612a5,
.modeSelected__473f1:hover .wrapper__612a5 {
    border-left: var(--accent) 1px solid;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.033);
}

.wrapper__612a5:hover {
    border-left: var(--accent) 1px solid;
    border-radius: 1px;
    margin-right: 2px;
    transition: 0.3s;
}

.mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}

.addButtonIcon_d9a52c,
.modeUnreadImportant__35358 .icon__67ab4,
.unreadImportant_e8bb44 {
    color: var(--accent) !important;
}

.modeConnected__52a8f .name__4eb92,
.modeConnected__52a8f:hover .name__4eb92,
.modeSelected__473f1 .name__4eb92,
.modeSelected__473f1:hover .name__4eb92,
.modeUnreadImportant__35358 .name__4eb92,
.modeUnreadImportant__35358:hover .name__4eb92,
.notInteractive_e31551.modeConnected__52a8f .name__4eb92,
.notInteractive_e31551.modeSelected__473f1 .name__4eb92 {
    color: var(--accent) !important;
}

.modeSelected__473f1 .icon__67ab4,
.modeSelected__473f1:hover .icon__67ab4,
.modeUnreadImportant__35358 .icon__67ab4,
.modeUnreadImportant__35358:hover .icon__67ab4,
.mainContent__2333c .overflow__993fa,
.mainContent__2333c {
    color: var(--accent) !important;
}

.closedFolderIconWrapper__722d5 {
    background-color: var(--accent-selected);
}

.theme-dark .closedFolderIconWrapper__722d5 {
    background-color: var(--accent-selectedD);
}

.expandedFolderBackground_b1385f {
    box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 15px;
}

.closedFolderIconWrapper__722d5:hover {
    box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.expandedFolderBackground_b1385f.collapsed__98ad5,
.expandedFolderBackground_b1385f.collapsed__98ad5.hover__043de {
    display: none;
}

.folder__17546,
.folder__17546:hover {
    background-color: #00000000;
}

.item_f9d377 {
    width: 8px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    background-color: rgb(145, 138, 152);
}

.circleIconButton__05cf2 {
    background: var(--background-secondary-alt) !important;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30px;
    color: var(--accent-selected);
    transition: 0.5s;
}

.circleIconButton__05cf2:hover {
    background: rgba(99, 81, 199, 0.276);
    box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 30px;
    color: var(--accent-selected);
    transition: 0.5s;
}

.theme-light .button_b82d53.buttonColor__7bad9,
.theme-light .buttonColor__8c13f {
    border-radius: 16px;
    background-color: var(--accent-selected);
}

.container_e1958d {
    border-radius: 16px;
}

.theme-light .modeSelected__473f1 .link_ddbb36,
.theme-light .modeSelected__473f1:hover .link_ddbb36 {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accent);
    transition: 0.5s;
    border-radius: 1px;
}

.theme-light .link_ddbb36:hover {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accent);
    transition: 0.2s;
    border-radius: 1px;
}

/* Dark */
.theme-dark .modeSelected__473f1 .link_ddbb36,
.theme-dark .modeSelected__473f1:hover .link_ddbb36 {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accentD);
    transition: 0.5s;
    border-radius: 1px;
}

.theme-dark .link_ddbb36:hover {
    background-color: rgba(0, 0, 0, 0.039) !important;
    border-left: solid 1px var(--accentD);
    transition: 0.2s;
    border-radius: 1px;
}

.theme-dark .panels__58331 {
    border-radius: 15px;
    margin-bottom: 18px;
    margin-right: 2px;
    margin-left: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.theme-dark .button_b82d53.buttonColor__7bad9,
.theme-dark .buttonColor__8c13f {
    border-radius: 16px;
    background-color: var(--accent-selectedD);
}

.theme-dark .topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda {
    background-color: var(--background-secondary) !important;
    border: solid 2px;
    border-radius: 18px;
    border-color: var(--accentD);
    color: var(--accentD);
    text-align: center;
    transition: 0.9s;
}

.theme-dark .iconContainer__6a580[aria-label="Text (Age-Restricted)"] > svg {
    color: #ff5252 !important;
}

.theme-dark .icon__67ab4,
.theme-dark .modeSelected__473f1 .wrapper__612a5,
.theme-dark .modeSelected__473f1:hover .wrapper__612a5 {
    color: var(--accent-selectedD);
    border-radius: 0px 15px 15px 15px;
}

.theme-dark .modeSelected__473f1 .wrapper__612a5,
.theme-dark .modeSelected__473f1:hover .wrapper__612a5 {
    border-left: var(--accentD) 1px solid;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.033);
}

.theme-dark .wrapper__612a5:hover {
    border-left: var(--accentD) 1px solid;
    border-radius: 1px;
    margin-right: 2px;
    transition: 0.3s;
}

.theme-dark .mainContent-20q_Hp:hover {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
}

.theme-dark .addButtonIcon_d9a52c,
.theme-dark .modeUnreadImportant__35358 .icon__67ab4,
.theme-dark .unreadImportant_e8bb44 {
    color: var(--accentD) !important;
}

.theme-dark .modeConnected__52a8f .name__4eb92,
.theme-dark .modeConnected__52a8f:hover .name__4eb92,
.theme-dark .modeSelected__473f1 .name__4eb92,
.theme-dark .modeSelected__473f1:hover .name__4eb92,
.theme-dark .modeUnreadImportant__35358 .name__4eb92,
.theme-dark .modeUnreadImportant__35358:hover .name__4eb92,
.theme-dark .notInteractive_e31551.modeConnected__52a8f .name__4eb92,
.theme-dark .notInteractive_e31551.modeSelected__473f1 .name__4eb92 {
    color: var(--accentD) !important;
}

.theme-dark .modeSelected__473f1 .icon__67ab4,
.theme-dark .modeSelected__473f1:hover .icon__67ab4,
.theme-dark .modeUnreadImportant__35358 .icon__67ab4,
.theme-dark .modeUnreadImportant__35358:hover .icon__67ab4,
.theme-dark .mainContent__2333c .overflow__993fa,
.theme-dark .mainContent__2333c {
    color: var(--accentD) !important;
}

.theme-dark .expandedFolderBackground_b1385f {
    box-shadow: inset 0px 3px 3px 1px rgba(0, 0, 0, 0.198);
    border-radius: 15px solid var(--accentD);
}

.theme-dark .closedFolderIconWrapper__722d5:hover {
    box-shadow: inset 10px 10px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.theme-dark .expandedFolderBackground_b1385f.collapsed__98ad5,
.theme-dark .expandedFolderBackground_b1385f.collapsed__98ad5.hover__043de {
    display: none;
}

.theme-dark .folder__17546,
.theme-dark .folder__17546:hover {
    background-color: #000 0;
}

.theme-dark .item_f9d377 {
    width: 8px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 0px;
    background-color: #918a98;
}

.theme-dark .circleIconButton__05cf2 {
    background: var(--background-secondary-alt) !important;
    backdrop-filter: blur(20px);
    border: 1px solid var(--accentD);
    border-radius: 30px;
    color: var(--accent-selectedD);
    transition: 0.5s;
}

.theme-dark .circleIconButton__05cf2:hover {
    background: rgba(99, 81, 199, 0.276);
    box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
    border: 1px solid var(--accentD);
    border-radius: 30px;
    color: var(--accent-selectedD);
    transition: 0.5s;
}

.container_debb33 {
    border-radius: 30px;
}
