/*
  ///////////////////////////////////////
  ////////////// Title Bar
  //////////////////////////////////////
  */

.container__11d72.themed_b152d4 {
    background: var(--background-secondary-alt) !important;
    border-bottom: 0.5px solid rgba(186, 186, 186, 0.386);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__104ca {
    background: var(--background-secondary-alt) !important;
    border-bottom: 0.5px solid rgba(186, 186, 186, 0.386);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
}

.animatedContainer__341f6,
.bannerImage__39c51 {
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-right: 5px;
}

.communityInfoVisible_b0482d .header__104ca,
.communityInfoVisible_b0482d .header__104ca:hover,
.hasBanner_e78601 .header__104ca,
.hasBanner_e78601 .header__104ca:hover {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0);
    background-color: transparent !important;
}

.communityInfoPill_d3f445 {
    display: none;
}

.children__32014:after {
    background: rgba(0, 0, 0, 0);
}

.title__9e2b0 {
    font-weight: 750;
    color: rgba(73, 73, 73);
}

.clickable_d23a1a .icon__4cb88 {
    color: rgba(115, 115, 115);
}

.theme-dark .children__32014:after {
    display: none;
}

.searchBar_e4ea2a .searchBarComponent__22760 {
    background: var(--background-secondary-alt) !important;
    border-radius: 15px;
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.searchBar_e4ea2a .searchBarComponent__22760:hover {
    background: var(--background-secondary-alt) !important;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.5s;
}

.full-motion .searchBar_e0c60b {
    background: var(--background-secondary) !important;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.full-motion .searchBar_e0c60b:hover {
    background: var(--background-secondary) !important;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.children__32014:after {
    display: none;
}

.wordmarkWindows__05c46 {
    color: var(--accent);
}

/* --------------------- Faux macOS Title  🖥️ -------------------
  > Credit: Me, Myself, and I
*/

/* The faux title bar itself */
.typeMacOS__496b0 {
    position: relative;
    width: 100%;
    height: 35px;
}
.theme-dark .typeMacOS__496b0 {
    background: var(--PGBackgroundD);
}
.theme-light .typeMacOS__496b0 {
    background: var(--PGBackground);
}

/* Adujustments to accommodate for the blank space used for the stoplight*/
.platform-osx .wrapper_a7e7a8 {
    margin: 0;
    padding: 0;
}

/* --------------------- macOS Title Bar 🍎 🖥️ -------------------
  > See License: https://github.com/discord-extensions/macos-titlebar/blob/master/LICENSE
  > Credit: LuckFire/Hoofer/Boloped 
  */

/* Light */
.platform-win.app-focused .typeWindows__5fa63 .winButtonClose__73489 {
    background-color: var(--accent);
}

.platform-win.app-focused .typeWindows__5fa63 .winButtonMinMax__72f36:nth-child(2n) {
    background-color: var(--accent-selected);
}

.platform-win.app-focused .typeWindows__5fa63 .winButtonMinMax__72f36:nth-child(3n) {
    background-color: var(--accent-hover);
}

/* Dark */
.theme-dark .platform-win.app-focused .typeWindows__5fa63 .winButtonClose__73489 {
    background-color: var(--accentD);
}

.theme-dark .platform-win.app-focused .typeWindows__5fa63 .winButtonMinMax__72f36:nth-child(2n) {
    background-color: var(--accent-selectedD);
}

.theme-dark .platform-win.app-focused .typeWindows__5fa63 .winButtonMinMax__72f36:nth-child(3n) {
    background-color: var(--accent-hoverD);
}

.withFrame__485f4 {
    height: 10px;
    margin-top: 14px;
    margin-right: 14px;
}

.platform-win .typeWindows__5fa63 .wordmark__0d178 g {
    display: none;
}

.platform-win .typeWindows__5fa63 .winButton__88672 {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: var(--background-primary);
    background-size: 0;
    -webkit-app-region: no-drag;
}

.platform-win .sidebar_ded4b5 .header__104ca,
.platform-win .sidebar_ded4b5 .searchBarComponent__22760 {
    -webkit-app-region: no-drag;
}

.platform-win .sidebar_ded4b5 .searchBar_e4ea2a {
    -webkit-app-region: drag;
}

.chat__52833 {
    z-index: 103;
}

.chat__52833 .container__11d72 {
    -webkit-app-region: drag;
}

.chat__52833 .container__11d72 .topic__16ae3,
.chat__52833 .container__11d72 .title__9e2b0,
.chat__52833 .container__11d72 .nicknames__7447d {
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows__5fa63 .winButton__88672 svg {
    display: none;
}

.platform-win.app-focused .typeWindows__5fa63:hover div.winButton__88672 {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
