/*
  ///////////////////////////////////////
  ////////////// Title Bar
  //////////////////////////////////////
  */

.container__26baa.themed_b152d4 {
    background: var(--background-secondary-alt) !important;
    border-bottom: 0.5px solid rgba(186, 186, 186, 0.386);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__77c95 {
    background: var(--background-secondary-alt) !important;
    border-bottom: 0.5px solid rgba(186, 186, 186, 0.386);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
}

.animatedContainer__0e828,
.bannerImage_c73a57 {
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-right: 5px;
}

.communityInfoVisible_bab80a .header__77c95,
.communityInfoVisible_bab80a .header__77c95:hover,
.hasBanner__04337 .header__77c95,
.hasBanner__04337 .header__77c95:hover {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0);
    background-color: transparent !important;
}

.communityInfoPill__1efab {
    display: none;
}

.children_cde9af:after {
    background: rgba(0, 0, 0, 0);
}

.title__84e16 {
    font-weight: 750;
    color: rgba(73, 73, 73);
}

.clickable_ce0925 .icon_ae0b42 {
    color: rgba(115, 115, 115);
}

.theme-dark .children_cde9af:after {
    display: none;
}

.searchBar__621ec .searchBarComponent__8f95f {
    background: var(--background-secondary-alt) !important;
    border-radius: 15px;
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.searchBar__621ec .searchBarComponent__8f95f:hover {
    background: var(--background-secondary-alt) !important;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.5s;
}

.full-motion .searchBar__5a20a {
    background: var(--background-secondary) !important;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.full-motion .searchBar__5a20a:hover {
    background: var(--background-secondary) !important;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.children_cde9af:after {
    display: none;
}

.wordmarkWindows_ffbc5e {
    color: var(--accent);
}

/* --------------------- Faux macOS Title  🖥️ -------------------
  > Credit: Me, Myself, and I
*/

/* The faux title bar itself */
.typeMacOS_cacc59 {
    position: relative;
    width: 100%;
    height: 35px;
}
.theme-dark .typeMacOS_cacc59 {
    background: var(--PGBackgroundD);
}
.theme-light .typeMacOS_cacc59 {
    background: var(--PGBackground);
}

/* Adujustments to accommodate for the blank space used for the stoplight*/
.platform-osx .wrapper__216eb {
    margin: 0;
    padding: 0;
}

/* --------------------- macOS Title Bar 🍎 🖥️ -------------------
  > See License: https://github.com/discord-extensions/macos-titlebar/blob/master/LICENSE
  > Credit: LuckFire/Hoofer/Boloped 
  */

/* Light */
.platform-win.app-focused .typeWindows_e41dab .winButtonClose__6396d {
    background-color: var(--accent);
}

.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(2n) {
    background-color: var(--accent-selected);
}

.platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(3n) {
    background-color: var(--accent-hover);
}

/* Dark */
.theme-dark .platform-win.app-focused .typeWindows_e41dab .winButtonClose__6396d {
    background-color: var(--accentD);
}

.theme-dark .platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(2n) {
    background-color: var(--accent-selectedD);
}

.theme-dark .platform-win.app-focused .typeWindows_e41dab .winButtonMinMax_caf9c8:nth-child(3n) {
    background-color: var(--accent-hoverD);
}

.withFrame__5e49e {
    height: 10px;
    margin-top: 14px;
    margin-right: 14px;
}

.platform-win .typeWindows_e41dab .wordmark__5b8c9 g {
    display: none;
}

.platform-win .typeWindows_e41dab .winButton_f17fb6 {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: var(--background-primary);
    background-size: 0;
    -webkit-app-region: no-drag;
}

.platform-win .sidebar_e031be .header__77c95,
.platform-win .sidebar_e031be .searchBarComponent__8f95f {
    -webkit-app-region: no-drag;
}

.platform-win .sidebar_e031be .searchBar__621ec {
    -webkit-app-region: drag;
}

.chat__52833 {
    z-index: 103;
}

.chat__52833 .container__26baa {
    -webkit-app-region: drag;
}

.chat__52833 .container__26baa .topic__16ae3,
.chat__52833 .container__26baa .title__84e16,
.chat__52833 .container__26baa .nicknames__12efb {
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows_e41dab .winButton_f17fb6 svg {
    display: none;
}

.platform-win.app-focused .typeWindows_e41dab:hover div.winButton_f17fb6 {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
