/*
  ///////////////////////////////////////
  ////////////// Title Bar
  //////////////////////////////////////
  */

.container_e44302.themed_e44302 {
    background: var(--background-secondary-alt) !important;
    border-bottom: 0.5px solid rgba(186, 186, 186, 0.386);
    border-radius: 5px 0px 0px 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.header_fd6364 {
    background: var(--background-secondary-alt) !important;
    border-bottom: 0.5px solid rgba(186, 186, 186, 0.386);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
}

.animatedContainer_fd6364,
.bannerImage_fd6364 {
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-right: 5px;
}

.communityInfoVisible_fd6364 .header_fd6364,
.communityInfoVisible_fd6364 .header_fd6364:hover,
.hasBanner_fd6364 .header_fd6364,
.hasBanner_fd6364 .header_fd6364:hover {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0);
    background-color: transparent !important;
}

.communityInfoPill_fd6364 {
    display: none;
}

.children_e44302:after {
    background: rgba(0, 0, 0, 0);
}

.title_e44302 {
    font-weight: 750;
    color: rgba(73, 73, 73);
}

.clickable_e44302 .icon_e44302 {
    color: rgba(115, 115, 115);
}

.theme-dark .children_e44302:after {
    display: none;
}

.searchBar_f0963d .searchBarComponent_f0963d {
    background: var(--background-secondary-alt) !important;
    border-radius: 15px;
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.searchBar_f0963d .searchBarComponent_f0963d:hover {
    background: var(--background-secondary-alt) !important;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.198);
    transition: 0.5s;
}

.full-motion .searchBar_a46bef {
    background: var(--background-secondary) !important;
    border-radius: 10px;
    box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.full-motion .searchBar_a46bef:hover {
    background: var(--background-secondary) !important;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.198);
    transition: 0.3s;
}

.children_e44302:after {
    display: none;
}

.wordmarkWindows_a934d8 {
    color: var(--accent);
}

/* --------------------- Faux macOS Title  🖥️ -------------------
  > Credit: Me, Myself, and I
*/

/* The faux title bar itself */
.typeMacOS_a934d8 {
    position: relative;
    width: 100%;
    height: 35px;
}
.theme-dark .typeMacOS_a934d8 {
    background: var(--PGBackgroundD);
}
.theme-light .typeMacOS_a934d8 {
    background: var(--PGBackground);
}

/* Adujustments to accommodate for the blank space used for the stoplight*/
.platform-osx .wrapper_fea3ef {
    margin: 0;
    padding: 0;
}

/* --------------------- macOS Title Bar 🍎 🖥️ -------------------
  > See License: https://github.com/discord-extensions/macos-titlebar/blob/master/LICENSE
  > Credit: LuckFire/Hoofer/Boloped 
  */

/* Light */
.platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8 {
    background-color: var(--accent);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n) {
    background-color: var(--accent-selected);
}

.platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n) {
    background-color: var(--accent-hover);
}

/* Dark */
.theme-dark .platform-win.app-focused .typeWindows_a934d8 .winButtonClose_a934d8 {
    background-color: var(--accentD);
}

.theme-dark .platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(2n) {
    background-color: var(--accent-selectedD);
}

.theme-dark .platform-win.app-focused .typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3n) {
    background-color: var(--accent-hoverD);
}

.withFrame_a934d8 {
    height: 10px;
    margin-top: 14px;
    margin-right: 14px;
}

.platform-win .typeWindows_a934d8 .wordmark_a934d8 g {
    display: none;
}

.platform-win .typeWindows_a934d8 .winButton_a934d8 {
    width: 12px;
    height: 12px;
    margin-left: 8px;
    border-radius: 15px;
    background-color: var(--background-primary);
    background-size: 0;
    -webkit-app-region: no-drag;
}

.platform-win .sidebar_a4d4d9 .header_fd6364,
.platform-win .sidebar_a4d4d9 .searchBarComponent_f0963d {
    -webkit-app-region: no-drag;
}

.platform-win .sidebar_a4d4d9 .searchBar_f0963d {
    -webkit-app-region: drag;
}

.chat_a7d72e {
    z-index: 103;
}

.chat_a7d72e .container_e44302 {
    -webkit-app-region: drag;
}

.chat_a7d72e .container_e44302 .topic_bf3bbb,
.chat_a7d72e .container_e44302 .title_e44302,
.chat_a7d72e .container_e44302 .nicknames__12efb {
    -webkit-app-region: no-drag;
}

.platform-win .typeWindows_a934d8 .winButton_a934d8 svg {
    display: none;
}

.platform-win.app-focused .typeWindows_a934d8:hover div.winButton_a934d8 {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
